<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="style/icons/car.png">
	<title>Add Payment</title>
	<link rel="icon" href="https://fontawesome.com/v4.7.0/icon/car/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!-- probably an include statement here for the header of the  -->
	<% include partial/nav %>
    <div class="container">
	<h1>ADD Payment</h1>
    <div class="form-group">
	<form action="/add-payment" method="post">
		<label for="service">Service Provider:</label>
		<input class="form-control" type="" name="service" value="<%= name.providerName %>" disabled><br>
		<label for="Cname">Customer Name:</label>
		<input class="form-control" type="text" name="" placeholder="First Name" required value="<%= thingy.customerName %>" disabled><br>
		<label for="Cname">Tentative Paid Amount:</label>
		<input class="form-control" type="text" name="" placeholder="First Name" required value="<%= thingy.tentativePaid %>" disabled><br>
		<label for="firstName">Total Amount: ₱<%= thingy.totalAmount %></label>
		<input type="text" name="totalAmount" value="<%= thingy.totalAmount %>" hidden><br>
		<label for="Cname">Balance: ₱<%= thingy.balance %></label>
		<input type="text" name="balance" value="<%= thingy.balance %>" hidden><br>
		<label for="lastName">Final Paid Amount:</label>
		<input class="form-control" type="text" name="paidAmount" placeholder="Final Paid Amount" required><br>
		<label for="contactNumber">Miscellaneous Fee:</label>
		<input class="form-control" type="text" name="miscFee" placeholder="Miscellaneous Fee" required><br>
		<input type="text" name="userType" value="Service Provider" hidden>
		<input type="text" name="transID" value="<%= thingy.transID %>" hidden>
		<input type="text" name="resID" value="<%= thingy.resID %>" hidden>
		<input type="text" name="resStatus" value="<%= thingy.resStatus %>" hidden>
		<input type="submit" class="btn">
		<a class="btn btn-secondary" href="/payment">Cancel</a>
	</form>
    </div>


    <% include partial/footer %>
</body>
</html>