<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   <link rel="icon" href="style/icons/car.png">

    <title>Service Provider</title>

    <!-- Bootstrap core CSS -->
    <link href="style/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="style/product.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="blog.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

   <% include partial/nav %>

        <div class="container-fluid">
          <div class="page-header">
            <h1>Welcome, CarGo Service Provider</h1>
          </div>


          <h2>Edited Successful</h2>

          
          <h1>Car Rentals Offered</h1>
          <table class="table table-hover">
            <tr>
              <th>Car Brand</th>
              <th>Car Type</th>
              <th>Car Model</th>
              <th>Number of Seats</th>
              <th>Transmission</th>
              <th>Mileage</th>
              <th>Year of Car</th>
              <th>Rate per Day</th>
              <th>Car Status</th>
            </tr>
           
            <tr>
              <td><%= editService.brandCar %></td>
              <td><%= editService.typeCar %></td>
              <td><%= editService.modelCar %></td>
              <td><%= editService.numSeat %></td>
              <td><%= editService.transmission %></td>
              <td><%= editService.mileage %></td>
              <td><%= editService.yearCar %></td>
              <td><%= editService.rate %></td>
              <td><%= editService.carStatus %></td>
            </tr>
          </table>
        </div>

   <% include partial/footer %>
  </body>
</html>
