
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="style/icons/car.png">

    <title>Payment</title>

    <!-- Bootstrap core CSS -->
    <link href="style/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="style/product.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body class="bg-light">

    <% include partial/nav %>

      <div class="container-fluid">
        <div class="page-header">
          <h1>Payments</h1>    
        </div>


        <% if(payments.length != 0) { %>
          <table class="table table-hover">
            <tr class="thead-light">
              <th>Payment ID</th>
              <th>Customer Name</th>
              <th>Service Provider Name</th>
              <th>Total Amount</th>
              <th>Paid Amount</th>
              <th>Date Paid</th>
              <th>Miscellaneous Fee</th>
              <th>Payment Status</th>
              <th></th>
            </tr>
            <% payments.forEach(function(item){ %>
            <tr class="table-info">
              <td><%= item.payID %></td>
              <td><%= item.customerName %></td>
              <td><%= item.providerName %></td>
              <td><%= item.totalAmount %></td>
              <td><%= item.paidAmount %></td>
              <td><%= item.payDate %></td>
              <td><%= item.miscFee %></td>
              <td><%= item.payStatus %></td>
              <td>
                <% if(item.payStatus != 'Fully Paid') { %>
                  <a href="/add-payment?resID=<%= item.resID %>&resStatus=<%= item.resStatus %>" class="btn btn-secondary">Add Payment</a>
                <% } %>
              </td>
            </tr>
            <% }) %>
          </table>
        <% } %>
      </div>


      <div class="page-header"></div>

    <% include partial/footer %>
  </body>
</html>