
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Show</title>

    <!-- Bootstrap core CSS -->
    <link href="style/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="style/product.css" rel="stylesheet">
  </head>

  <body class="bg-light">

    <% include partial/nav %>

      <div class="container-fluid">
        <div class="page-header">
          <h1> Show Reservations</h1>    
        </div>

        <% if(showReservations.length != 0) { %>
        <h2>Reservation List</h2>
        <table class="table table-hover">
          <tr>
            <th>Customer Name</th>
            <th>Reservation Date</th>
            <th>Customer Address</th>
            <th>Customer Contact Number</th>
            <th>Start Date Rental</th>
            <th>End Date Rental</th>
            <th>Purpose</th>
            <th>Reservation Status</th>
          </tr>
          <% showReservations.forEach(function(item){ %>
          <tr>
            <td><%= item.customerName %></td>
            <td><%= item.reservedDate %></td>
            <td><%= item.address %></td>
            <td><%= item.contactNo %></td>
            <td><%= item.startDate %></td>
            <td><%= item.endDate %></td>
            <td><%= item.purpose %></td>
            <td><%= item.resStatus %></td>
          </tr>
          <% }) %>
        </table>  
       
      </div>

      <div class="page-header"></div>

      <div class="row">
        <div class="col-md-7">
        <h2>Pending Reservations</h2>
        <table class="table table-hover">
          <tr>
            <th>Reservation ID</th>
            <th>Service Provider Name</th>
            <th>Service Provider Contact Number</th>
            <th>Car Rented</th>
            <th></th>
            <th></th>
          </tr>
          <% pendReserve.forEach(function(item){ %>
          <tr>
            <td><%= item.resID %></td>
            <td><%= item.serviceName %></td>
            <td><%= item.contactNo %></td>
            <td><%= item.brandCar %> <%= item.typeCar %> <%= item.modelCar %> <%= item.mileage %> <%= item.rate %></td>
            <td><form action="/accept" method="post"><input type="text" hidden name="resID" type="text" value=""><input class="btn btn-secondary" type="submit" value="Accept"></form></td>
            <td><form action="/deny" method="post"><input type="text" value="" hidden name="resID"><input class="btn btn-secondary" type="submit" value="Deny"></form></td>
          </tr>
          <% }) %>
        </table> 
        <% } %>  
        </div>
      </div>
    

    <% include partial/footer %>
  </body>
</html>
