<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="style/icons/car.png">

    <title>Transaction Monitoring</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="style/product.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>

   <% include partial/nav %>

        <div class="container-fluid">
          <div class="page-header">          
            <h2>Transaction Monitoring</h2>
          </div>

          <br>
          <div class="row">
              <div class="col-md-3 ">
                <form class="form-inline" action="/search-transaction-status" method="post">
                  <div class="form-group">
                    <select class="form-control" name="status">
                        <option hidden>Choose Status</option>
                        <option value="fully paid">Fully Paid</option>
                        <option value="partially paid">Partially Paid</option>
                    </select>
                    <input type="submit" value="Search" class="btn">
                  </div>
                </form>
              </div>
          </div>
          <br>
         <% if (transactions.length !=0){ %>
          <table class="table table-hover">
            <tr class="thead-light">
              <th>Transaction Number</th>
              <th>Customer Name</th>
              <th>Customer Contact Number</th>
              <th>Date Started</th>
              <th>Proposed End Date</th>
              <th>Transaction Status</th>
            </tr>
            <% transactions.forEach(function(item){%>
            <tr class="table-info">
              <td><%= item.transID %></td>
              <td><%= item.customerName %></td>
              <td><%= item.contactNo %></td>
              <td><%= item.startDate %></td>
              <td><%= item.endDate %></td>
              <td><%= item.transStatus %></td>
            </tr>
            <% }) %>
          </table>
          <% }else{ %>
            <p>No Transactions yet</p>
          <% } %> 
        </div>

   <% include partial/footer %>
  </body>
</html>
