<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Transaction Monitoring</title>

    <!-- Bootstrap core CSS -->
    <link href="style/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="style/product.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  </head>

  <body>

   <% include partial/nav %>

        <div class="container-fluid">
          <div class="page-header">          
            <h2>Transaction Monitoring</h2>
          </div>

          <div class="row">
              <div class="col-md-3 ">
                <form class="form-inline" action="/search-transaction-status" method="post">
                  <div class="form-group">
                    <select class="form-control" name="status">
                        <option value="">Choose Status</option>
                        <option value="approved">Approved</option>
                        <option value="pending">Denied</option>
                        <option value="cancel">Cancelled</option>
                    </select>
                    <input type="submit" value="Search" class="btn">
                  </div>
                </form>
              </div>
          </div>
          
         <% if (transactions.length !=0){ %>
          <table class="table table-hover">
            <tr>
              <th>Transaction Number</th>
              <th>Customer Name</th>
              <th>Service Provider Name</th>
              <th>Payment Status</th>
              <th>Date Started</th>
              <th>Date Finished</th>
              <th>Transaction Status</th>
            </tr>
            <% transactions.forEach(function(item){%>
            <tr>
              <td><%= item.transID %></td>
              <td><%= item.customerName %></td>
              <td><%= item.providerName %></td>
              <td><%= item.payStatus %></td>
              <td><%= item.startDate %></td>
              <td><%= item.endDate %></td>
              <td><%= item.transStatus %></td>
            </tr>
            <% }) %>
          </table>
          <% }else{ %>
            <p>No Transactions yet</p>
          <% } %> 
        </div>

   <% include partial/footer %>
  </body>
</html>
